.NavBG {
    background-color: #000324;
    padding-left: 200px;
} 

.text-fix {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    height: 120px;
    align-items: flex-end;
    font: normal normal normal 20px/26px Dosis;
}

.imageCenter {
    display: flex;
    justify-content: space-between;
}


.widthSize {
    text-align: left;
    width: 860px;
}

.textSize1 {
    text-indent: 10px;
}

.textSize2 {
    text-indent: -17px;
}
.textSize3 {
    text-indent: -30px;
}
.textSize4 {
    text-indent: 10px;
}
.textSize5 {
    text-indent: -30px;
}
.textSize6 {
    text-indent: 10px;
}

.borderBox1 {
    margin-top: 90px;
    width: 90px;
    padding-top: 30px;
    height: 35px;
    border: 2px solid #E5FEFF;
}

.wordBar {
    border: 2px solid #000324;
}

.headerImage {
    background-image: url(../assets/header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
}

.textImage {
    text-align: center;
    font: normal normal normal 45px/57px Dosis;
    color: #E5FEFF;
}

.textImage2 {
    text-align: center;
    font: normal normal normal 16px/20px Source Sans Pro;
    color: #E5FEFF;
}

.textBox1 {
    padding-top: 65px;
    width: 945px;
    height: 232px;
    background: #000324 0% 0% no-repeat padding-box;
}

.sizeBox1 {
    padding-left: 545px;
    padding-top: 210px;
}

.homeImage {
    width: 369px;
    height: 500px;
    padding-top: 100px;
}

.homeText {
    display: flex;
    padding-left: 200px;
}

.homeAlign {
    padding-right: 540px;
    padding-left: 20px;
    padding-top: 90px;
}

.homeAlign2 {
    padding-left: 20px;
    padding-top: 20px;
}


.homeText2 {
    font: normal normal normal 35px/44px Dosis;
    color: #1A1B26;
}

.homeText3 {
    font: normal normal normal 16px/20px Source Sans Pro;
    color: #1A1B26;
}

.homeWidth {
    width: 755px;
}

.homeWidth2 {
    width: 1020px;
}

.space1 {
    display: inline-flex;
}

.space2 {
    width: 250px;
    height: 153px;
    padding-right: 80px;
}

.space3 {
    width: 260px;
    height: 193px;
    padding-right: 80px;
}

.space4 {
    width: 200px;
    height: 175px;
}

.headerImage2 {
    background-image: url(../assets/bg2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    margin-top: 80px;
}

.roomSize {
    text-align: center;
    font: normal normal normal 35px/44px Dosis;
    color: #FFFFFF;
}

.roomAlign1 {
    margin-top: 50px;
}

.roomPad1 {
    margin-left: 600px;
}

.roomPad2 {
    margin-right: 200px;
}

.content1 {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.cardImg1 {
    border-radius: 0;
}

.cardImg2 {
    border-radius: 0;
}

.cardImg3 {
    border-radius: 0;
}

.card1 {
    border-radius: 0;
    padding: 0px;
}

.text-blue1 {
    color: #1F51A8;
}

.packageImgSize {
    width: 561px;
    height: 234px;
}

.packageText {
    font: normal normal normal 25px/32px Dosis;
    color: #1A1B26;
}

.packageText2 {
    padding-left: 510px;
    font: normal normal normal 33px/40px Dosis;
    color: #1A1B26;
}

.paddingTop {
    padding-top: 100px;
}

.paddingTop2 {
    padding-top: 30px;
}

.pTag{
    width: 561px;
}

.headerImage3 {
    background-image: url(../assets/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 548px;
    margin-top: 80px;
}

.textColor {
    font: normal normal normal 35px/44px Dosis;
    color: #FFFFFF;
    text-align: center;
    margin-top: 50px;
}

.textColor2 {
    font: normal normal normal 16px/20px Source Sans Pro;
    color: #FFFFFF;
    text-align: center;
}

.textColor3 {
    font: normal normal bold 20px/25px Source Sans Pro;
    color: #FFFFFF;
}

.serviceSize {
    width: 150px;
    height: 101px;
    margin-left: 20px;
}

.breakfastSize {
    width: 150px;
    height: 104px;
    margin-left: 30px;
}

.valetSize {
    width: 100px;
    height: 115px;
    margin-left: 10px;
}

.poolSize {
    width: 155px;
    height: 110px;
}

.amenitiesArea {
    margin-top: 100px;
}

.amenitiesEnd {
    display: flex;
    justify-content: flex-end;
}

.amenitiesSpace {
    display: flex;
    justify-content: center;
}

.amenitiesSpace2 {
    margin-top: 30px;
}

.reserveImage {
    background-image: url(../assets/hamsterreserve.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1337px;
    height: 614px;
    margin-left: 300px;
    margin-top: 100px;
}
.textColor4 {
    font: normal normal normal 35px/44px Dosis;
    color: #FFFFFF;
    text-align: center;
    padding-top: 30px;
}

.reserveBox {
        background: #000324;
        width: 1337px;
        height: 207px;
}

.textColor5 {
    font: normal normal normal 16px/20px Source Sans Pro;
    color: #E5FEFF;
}

.reserveBox2 {
    margin-left: 100px;
    width: 200px;
    border: 20px solid #FFFFFF;
}

.reserveBox3 {
    width: 200px;
    border: 20px solid #FFFFFF;
}

.reserveBox4 {
    width: 200px;
    border: 20px solid #FFFFFF;
}
.reserveBox5 {
    width: 200px;
    border: 20px solid #FFFFFF;
}

.NavBG2 {
    background-color: #000324;
    margin-top: 110px;
    padding-left: 200px;
    width: 1920px;
    height: 300px;
} 

.logoCenter1 {
    margin-top: 30px;
    margin-left: 660px;
}

.textColor6 {
    text-align: center;
    margin-top: 30px;
    margin-right: 250px;
    font: normal normal normal 16px/20px Source Sans Pro;
    color: #E5FEFF;
}

.textColor7 {
    margin-top: 32px;
    padding-top: 9px;
    width: 177px;
    height: 38px;
    background: #006EDB 0% 0% no-repeat padding-box;
    border: 1px solid #000DC7;
}

.textAlign1 {
    margin-right: 40px;
}
.textAlign2 {
    margin-right: 169px;
}
.textAlign3 {
    margin-right: 116px;
}
.textAlign4 {
    margin-right: 156px;
}